#polaroid-img { position: relative; }
#newmailpicturebutton { position: absolute; right: 420px; top: 250px; }
#newmailimage { position: absolute; right: 220px; top: 40px; }
#newmailinputtext { position: absolute; right: -11px; top: 540px; }